#macro( printHeader )
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
#end

#macro( printNavbar $menuName )
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hestia-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Hestia</a>
		</div>
		<div class="collapse navbar-collapse" id="hestia-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li #if($menuName=="asset") class="active" #end><a href="/account_book/asset/">Asset</a></li>
				<li #if($menuName=="flow") class="active" #end><a href="/account_book/flow/">Flow</a></li>
				<li #if($menuName=="slip") class="active" #end><a href="/account_book/slip/">Slip</a></li>
			</ul>
			<p class="navbar-text" style="margin-left: 70px; font-size:20px; margin-top:11px; margin-bottom:10px;"><b>$!__req.getAttribute("loadedDataName")</b></p>
			<ul class="nav navbar-nav navbar-right">
				<li><button id="add_slip_btn" type="button" class="btn btn-default navbar-btn">Add Slip</button></li>
				<li class="dropdown #if($menuName=="system") active #end">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">System <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
					<li><a href="/system/config/">Config</a></li>
					<li><a href="/system/load/">Load</a></li>
					<li><a href="/system/save/">Save</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<script>
	$("#add_slip_btn").bind("click", function() {
		document.location = "/account_book/slipform/";
	});
</script>
#end